.LoginCSS{
  position: absolute;
  width: 1440px;
  height: 944px;
  left: 0px;
  top: 80px;

  background: linear-gradient(113.26deg, #45A1FD 0%, rgba(12, 99, 186, 0.85) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container{
    position: absolute;
    left: 1%;
    right: 1%;
    top: 44.28%;
    bottom: 5%;
    text-align:center;
    /* System Colors/Primary Blue 100 */

    background: #A2D0FE;
    border-radius: 30px;

}

.userName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 21px 28px;
    gap: 10px;

    position: absolute;
    height: 30px;
    left: 36.69px;
    right: 36.69px;
    top: 48px;

    background: #FFFFFF;
    border-radius: 50px;
}

.noAccount{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: absolute;
    left: 36.74%;
    right: 36.74%;
    top: 89.83%;
    bottom: 6.14%;

    width: 154px;
    height: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.signUp{
    width: 60px;
    height: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    text-align: center;

    /* System Colors/Gold 400 */

    color: #FDB833;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.text{
    width: 46px;
    height: 22px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    /* System Colors/Dark Blue 300 */

    color: #548BC3;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 21px 28px;
    gap: 10px;

    position: absolute;
    height: 30px;
    left: 36.69px;
    right: 36.69px;
    top: 138px;

    background: #FFFFFF;
    border-radius: 50px;
  }
  .logo{
    position: absolute;
    left: 41.11%;
    right: 41.11%;
    top: 6.14%;
    bottom: 66.74%;
    
    background: #FFFFFF;
    border-radius: 256px;

  }
  .wrapper{
    position: absolute;
    width: 640px;
    height: 828px;
    left: 400px;
    top: 58px;


  }
  .logoPicture{
    position: absolute;
    width: 217.6px;
    height: 217.6px;
    left: 20.48px;
    top: 17.92px;

  }
  .group1{
    position: absolute;
    width: 217.6px;
    height: 217.6px;
    left: 20.48px;
    top: 17.92px;
  }

  .inputLayout{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 80px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .loginButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px 150px;
    gap: 8px;

    position: absolute;
    height: 60px;
    left: 170px;
    right: auto;
    top: 260px;

    /* System Colors/Dark Blue 400 */

    background: #296EB4;
    border-radius: 30px;

    width: 56px;
    height: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 100% */

    text-align: center;

    /* System Colors/Gold 400 */

    color: #FDB833;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .loginText{
    width: 56px;
    height: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;

    text-align: center;
    color: #FDB833;

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .forgot{
    position: absolute;
    height: 18px;
    left: 205px;
    right: 205px;
    top: 332px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    text-align: center;
    text-decoration-line: underline;

    /* System Colors/Dark Blue 400 */

    color: #296EB4;
  }

  .outsideText{
    /* EncorEd */
    position: center;
    left: 44.86%;
    right: 44.86%;
    top: 70%;
    bottom: 61.44%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    text-align: center;

    /* System Colors/Dark Blue 400 */

    color: #296EB4;
  }