@media print {
    html, body {
        height: 100vh;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
    }
}

@page {
    /* size: landscape; */
    margin: 20mm;
}